.env
.venv

.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars

*.txt
!requirements.txt
*.md
!README.md
*.json

.pytest_cache
__pycache__
.coverage
*.DS_Store

log
terraform
.terraform